<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/location"></ion-back-button>
      </ion-buttons>
    <ion-title>Locacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">
    {{location.type}}
  </h1>
  <ion-card>
    <ion-item>
      <ion-icon name = "earth" slot = "start"></ion-icon>
      <ion-label>{{location.name}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <b>Dimension</b>
            <p>{{location.dimension}}</p>
          </ion-col>
          <ion-col>
            <b>Residentes</b>
            <p>{{location.residents}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </ion-content>
